* {
    box-sizing: border-box;
}
.Top {
    background: #000 url(https://i.ytimg.com/vi/Ey49da9GWBs/maxresdefault.jpg);
    color: #0EED20;
    background-attachment: fixed;
    background-repeat: repeat-x;
}
header {
    height: 130px;
    background-color: #DE5BB9;
    text-align: center;
}
footer {
    height: 100px;
    background-color: #8ECEED;
}
.ss111 {
    background-color: #466C34;
    border-radius: 50px;
    border: 4px solid black;
}
.logo2 {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
a {
    color: #412E2E;
}
.table {
    background-color: #000000;
}
tr:nth-child(2n) {
    background-color: rgba(218, 51, 255, 0.829);
}
@media screen and (min-device-width: 576px) {
    .table {
        width: 60%;
    }
}
